# Virtual Environment
venv/
env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask Upload Results
uploads/results_*.csv

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Log Files
*.log
